<!DOCTYPE html>
<html lang="en">  
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="css/custom.css">
  </head>

    <title>Portfolio App</title>
  </head>
    <body>
      <div class="container-fluid text-dark">
          <div class="container text-sm-center pt-5 pb-5">
            <h1 class="display-3">Avery's Nanostack App</h1>
            <p class="h3 text-muted mb-3">Coming soon</p>
            <div></span><img src="https://picsum.photos/600/350" class="img-fluid rounded" alt="Responsive image"></div>
            <a href="whatsnew.ejs"><button" class="btn btn-dark mt-4">What's New</button></a>
          </div>
      </div>
   </body>
</html>